* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-color: #eee;
}

.container {
  background: #eee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
  height: 500px;
}

.header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h5 {
  color: black;
  text-align: center;
}

.add-task {
  padding: 5px 0;
  display: flex;
}

.add-task input {
  border: 1px solid #eee;
  flex-grow: 1;
  margin-left: 5px;
  padding: 5px 15px;
  width: 320px;
  outline: none;
}

.add-task button {
  outline: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.clear {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  border: 1px solid #fff;
}

.clear button {
  border: none;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #888;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 6px 0;
  flex-grow: 1;
}

.list ul {
  list-style: none;
  flex-direction: column;
}
